<section>
  
  <h3> About Me </h3>  
  
  <div class="face-lockup">
  
    <div class="face-img"> </div>

    <div class="icon-ist"><a href="http://tecnico.ulisboa.pt">  {% include icons/icon-ist.html %} </a> </div>
    <div class="icon-sg"> <a href="http://www.silicongate.com"> {% include icons/icon-sg.html %}  </a> </div>
    <!--<div class="icon-music"></div>
    <div class="icon-video"></div>
  -->
  </div>
    
 <div class="blurb">
    
    <p> <strong> Zé is a curious monkey. </strong> This website is an effort to challenge his creativity by finding clever ways to share thoughts, ideas and insights about something. 

    
    </p>
</div> 

<!--    <div class="still-lockup"></div>
  -->
</section>