header
  height: 450px
  background: #ccc

  .logo
    +size(50px)
    background: #999

  nav
    a
      display: inline-block
      margin-left: 20px

      color: rgba(0,0,0,0.7)
      font:
        size: 14px
        weight: 700
      text-transform: uppercase
      &:hover
        color: rgba(0,0,0,1)

  h1
    text-align: center
    font:
      size: 72px
      weight: 700
    color: white
    text-transform: uppercase
    letter-spacing: 0.05em
    margin-bottom: 20px
    
    span
      display: inline-block
      padding: 0.02em 0.05em
      border: white solid 10px
  
  .kicker
    text-align: center
    font:
      weight: 700
    text-transform: uppercase
    letter-spacing: 0.05em
